--- 
import Layout from "../layouts/Layout.astro"
---
<Layout>
<h1 class="mt-50 text-3xl font-bold text-center">I'd love for you to get in touch!</h1>
<p class="text-center">This page isn't finished yet. Please email me at zentrombone@proton.me for now.</p>
</Layout>
