---
import Layout from "../layouts/Layout.astro";
import ChevronsDown from "@lucide/astro/icons/chevrons-down";
---

<Layout title="home">
  <div
    class="hero min-h-screen -mt-16"
    style="background-image: url(https://i.imgur.com/22sL6xd.jpeg);"
  >
    <div class="hero-overlay"></div>
    <div class="hero-content text-center mt-[-8rem]">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">Hi, I'm Zen</h1>
        <p class="py-6">I like to make stuff.</p>
        <a class="btn btn-primary" href="#down">See more <ChevronsDown /></a>
      </div>
    </div>
  </div>
  <div id="down">
    <h1>More info</h1>
    <h1>More info</h1>
    <h1>More info</h1>
    <h1>More info</h1>
    <h1>More info</h1>
    <h1>More info</h1>
    <h1>More info</h1>
    <h1>More info</h1>
    <h1>More info</h1>
    <h1>More info</h1>
    <h1>More info</h1>
    <h1>More info</h1>
    <h1>More info</h1>
    <h1>More info</h1>
    <h1>More info</h1>
    <h1>More info</h1>
    <h1>More info</h1>
    <h1>More info</h1>
    <h1>More info</h1>
    <h1>More info</h1>
    <h1>More info</h1>
    <h1>More info</h1>
    <h1>More info</h1>
  </div>
</Layout>
