<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl" href="/">zen (t)halen (a)beysiri (g)unawardhana</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/about">About</a></li>
      <li>
        <details>
          <summary>Content</summary>
          <ul class="bg-base-100 rounded-t-none p-2">
	    <li><a href="/videos">Videos</a></li>
	    <li><a href="/blog">Blog</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>
